name: My First Workflow

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  docker-build-and-push:
    runs-on: self-hosted
    
    steps:
      - name: Check out code repository
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false  # Nog niet pushen, eerst lokaal testen
          tags: |
            hello-world-nginx:${{ github.ref_name }}
            hello-world-nginx:${{ github.sha }}
            hello-world-nginx:latest
          load: true