name: My First Workflow

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04
    
    steps:
      - name: Check out code repository
        uses: actions/checkout@v4
      
      - name: Build Docker image
        run: docker build -t hello-world-nginx:v1 .
      
      - name: Run Docker container
        run: docker run -d -p 8080:80 --name test-nginx hello-world-nginx:v1
      
      - name: Test nginx is running
        run: |
          sleep 5
          curl http://localhost:8080
      
      - name: Stop container
        run: docker stop test-nginx
